@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.body {
  padding: 15px;
}

.contianer {
  margin: 0 auto;
  width: 100%;
  max-width: 1145px;
}

header {
  padding: 30px 50px 30px 50px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  max-width: 1145px;
}
header .img-1 {
  display: flex;
  align-items: center;
}
header .img-1 .text {
  margin-left: 20px;
}
header .img-1 .text ul {
  align-items: center;
  display: flex;
  list-style: none;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
header .btn {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
header .btn ul {
  list-style: none;
  align-items: center;
}
header .btn button {
  padding: 20px 40px 20px 40px;
  border-radius: 0.875rem;
  border: 1.5px solid var(--Medium-Grey, #686868);
  cursor: pointer;
}

.main {
  align-items: center;
  margin-top: 80px;
  width: 100%;
  max-width: 1145px;
  justify-content: space-between;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.main .textariya {
  width: 100%;
  max-width: 540px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.main .textariya h1 {
  width: 343px;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.1111111641px;
  text-align: left;
}
.main .textariya p {
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.main .textariya button {
  padding: 15px 30px 15px 30px;
  margin-top: 40px;
  color: white;
  border-radius: 0.9375rem;
  background: var(--Black, #151515);
  cursor: pointer;
}
.main .textariya .hello {
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  display: flex;
  margin-top: 50px;
}
.main img-1 {
  display: block;
}

@media (max-width: 718px) {
  header {
    padding: 30px 50px 30px 50px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    max-width: 1145px;
  }
  header .img-1 {
    display: flex;
    align-items: center;
  }
  header .img-1 .text ul li {
    display: none;
  }
  header .btn {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  header .btn ul li {
    display: none;
  }
  header .btn button {
    display: none;
  }
  .main {
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    max-width: 375px;
    justify-content: space-between;
    -moz-column-gap: 15px;
         column-gap: 15px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .main .textariya {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 540px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .main .textariya h1 {
    font-family: Epilogue;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.1111111641px;
    text-align: center;
  }
  .main .textariya p {
    font-family: Epilogue;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
  }
  .main .textariya button {
    padding: 15px 30px 15px 31px;
    margin-top: 40px;
    color: white;
    border-radius: 0.9375rem;
    background: var(--Black, #151515);
  }
  .main .textariya .hello {
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    display: flex;
    margin-top: 50px;
  }
  .main img-1 {
    display: block;
    width: 100%;
    max-width: 374px;
  }
}/*# sourceMappingURL=style.css.map */